main {
  min-height: 100dvh;

  box-sizing: border-box;
  padding-block: 15px;
  max-width: calc(100% - 50px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  margin-bottom: 1rem;
  color: #444;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #ececec;
  border-radius: 15px;
  border: none;

  color: #838383;

  width: 30px;
  height: 30px;

  padding: 2px;
  font-size: 0.5em;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #e3e3e3;
}

@media screen and (min-width: 1500px) {
  main {
    max-width: calc(100% - 600px);
  }
}
